<form class="form" action="/todo/{{id}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input value="{{title}}" type="text" class="form-control" id="title" placeholder="Enter a todo" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea value="{{description}}" type="text" class="form-control" id="description" placeholder="Enter a description" name="description">
    </textarea>
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <select class="form-control" id="priority" name="priority">
      {{#select priority}}
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      {{/select}}
    </select>
  </div>
  <button type="submit" class="btn btn-default btn-danger">
    Update
  </button>
</form>
